ErrorDocument 500 /_errors/500.html
ErrorDocument 501 /_errors/501.html
ErrorDocument 502 /_errors/502.html
ErrorDocument 503 /_errors/503.html
ErrorDocument 504 /_errors/504.html
ErrorDocument 505 /_errors/505.html


AddHandler cgi-script .py
DirectoryIndex run.py

<IfModule mod_rewrite.c>
	#Options +FollowSymlinks
	RewriteEngine On
	RewriteBase /
	##RewriteRule ^run.py/(.*)$ - [S=1]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ run.py/$1 [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml image/svg+xml text/css application/x-javascript application/javascript text/javascript
</IfModule>
