ErrorDocument 500 /_errors/500.html
ErrorDocument 501 /_errors/501.html
ErrorDocument 502 /_errors/502.html
ErrorDocument 503 /_errors/503.html
ErrorDocument 504 /_errors/504.html
ErrorDocument 505 /_errors/505.html


AddHandler cgi-script .py
DirectoryIndex run.py

<IfModule mod_rewrite.c>
    #Options +FollowSymlinks
    RewriteEngine On
    RewriteBase /
    ##RewriteRule ^run.py/(.*)$ - [S=1]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ run.py/$1 [QSA,L]
</IfModule>

# COMPRESS
<files *.js.gz>
	AddType "text/javascript" .gz
	AddEncoding gzip .gz
</files>
<files *.css.gz>
	AddType "text/css" .gz
	AddEncoding gzip .gz
</files>

# CACHING
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 1 days"

# COMPRESSING
<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml image/svg+xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
