.contact {
	margin-top: 1em;
}

.other_contacts a {
	display: block;
	margin: 0.3125em 0em;
	padding: 0.0625em 0em;
	padding-left: 1.125em;
	background: transparent left center no-repeat;
	text-decoration: none;
}

.other_contacts .gplus  { background-image: url("./../img/icons/contacts/application-plus.png"); }
.other_contacts .mail   { background-image: url("./../img/icons/contacts/mail-at-sign.png"); }
.other_contacts .irc    { background-image: url("./../img/icons/contacts/irc.png"); }
.other_contacts .jabber { background-image: url("./../img/icons/contacts/jabber.png"); }
.other_contacts .icq    { background-image: url("./../img/icons/contacts/icq.png"); }
.other_contacts .phone  { background-image: url("./../img/icons/contacts/phone.png"); }
.other_contacts .skype  { background-image: url("./../img/icons/contacts/skype.png"); }
