a,
a:link,
a:visited {
    color: #6DA3BD;
	text-decoration: none;
}

a:hover,
a:active {
    color: #53798b;
	text-decoration: underline;
}


.page {
	padding: .9375em 0;
	color: #37474E;
	background: #FAFAFA;
	overflow: hidden;
}


/* Pages */
img.photo {
	width: 100%;
	border: 0.0625em solid rgba(0, 0, 0, 0.3);

	border-radius: 0.1875em;
	box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 15em) and (max-width: 40.063em) and (orientation : landscape) {
	/* Fix very big photo */
	img.photo {
		/*display: none;*/
		float: left;
		width: 8em;
	}
}

@media only screen and (min-width: 40.063em) {
	.page {
		margin: 0.625em;
		border: 0.0625em solid #C3CCD0;

		border-radius: 0.125em;
		box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.15), inset 0 0 0 0.0625em #FFF;
	}
	.message {
		margin: 0.625em !important;
	}
	.person h2 {
		margin-top: 0;
	}
}

@media only screen and (min-width: 72em) {
	.container {
		margin-left: auto;
		margin-right: auto;
		max-width: 72em;
	}
}