h1.title {
	font-family: 'Ultra', 'Arial', sans-serif;
	text-transform: uppercase;
	color: #333;
	text-shadow: 0 0.03125em rgba(255, 255, 255, 0.7), 0 0.0625em rgba(0, 0, 0, 0.3);
}

div.split {
	display: inline;
	margin: 0 0.3125em;
	border-left: 0.0625em solid rgba(128, 128, 128, 0.25);
	height: 100%;
	width: 0;
}
div.split.double { margin: 0 0.5em; }

div, section, img, nav {
	transition: 0.25s;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
}



.page {
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	padding: 0.625em 0;
	font-size: 1em;
	font-weight: 400;
	color: #37474E;
	background: #FAFAFA;
	border: 0.0625em solid #C3CCD0;
	overflow: hidden;

	border-radius: 0.125em;
	box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.15), inset 0 0 0 0.0625em #FFF;
}

div.top-nav-wrap {
	background: #333;
}
nav.top-menu {
	display: table;
	margin: 0 auto;
	width: 100%;
	border: 0.0625em solid #111;
	border-top: none;
	box-sizing: border-box;

	box-shadow: 2px 0 2px -1px #222, -2px 0 2px -1px #222;
}

nav.top-menu a {
	display: table-cell;
	color: #DEF !important;
	line-height: 3em;
	text-align: center;
	text-shadow: 0 0.0625em 0.0625em #000;


	background-image: linear-gradient(#444, #333);
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.07), inset -1px 0 0 rgba(0, 0, 0, 0.3);
}
nav.top-menu a.home {
	width: 3em;
}

nav.top-menu a:hover {
	background-image: linear-gradient(#555, #444);
}

nav.top-menu a.active {
	background-image: linear-gradient(#202020, #303030);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.5), inset -1px 0 0 rgba(0, 0, 0, 0.2),
	inset 0 0 1em rgba(0, 0, 0, 0.2);
}





.list-item {
	float: left;
	margin-bottom: 1.2em;
}
.list-item .description {
	clear: both;
	width: 100%;
	font-size: 93%;
}
.list-item .description p:last-child {
	margin-bottom: 0;
}


.more {
	float: right;
}


/* TAGS */
.tags {
}
.tags .tag {
	display: inline-block;
	color: #90786F;
	text-decoration: none;
}
.tags .tag + .tag {
	margin-left: 0.3125em;
}
.tags .tag:hover {
	color: #543;
	text-decoration: underline;
}
/* HACK */
.tags > a.tag > img {
	vertical-align: middle;
	padding-bottom: 0.125em;
}

pre {
	margin: 0 0 0.9375em 0;
	padding: 0.25em 0.5em;
	overflow-x: auto;
	background: #FDFCFA;
	border: 0.0625em solid #E3ECE0;

	border-radius: 0.125em;
}

article img.left {
	margin: 0.25em 0.5em 0.2em 0;
}
article img.right {
	margin: 0.25em 0 0.2em 0.5em;
}

.article-page #widgets {
	float: right;
	height: 4.0625em;
	overflow: hidden;
}
.article-page .content {
	padding: 0 0.625em;
}

.article-page .content pre > code {
	border: none !important;
	padding: 0;
	margin: 0;
}

button.donate {
	background: #FFDD84;
	cursor: pointer;

	background-image: linear-gradient(#FBC654, #FFDD84);
}
button.donate:active {
	background: #FBC654;
}


.home .photo img {
	border: 0.0625em solid rgba(0, 0, 0, 0.3);

	border-radius: 0.1875em;
	box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, 0.2);
}


/* Responsive Sizes {{{ */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	body {
		background: #FAFAFA !important;
	}

	.page.container {
		padding: 0;
		border: none;

		box-shadow: none;
	}

	article.list-item {
		margin-bottom: 1em !important;
	}
}


/* Mobile  */
@media only screen and (max-width: 479px) {
	nav.top-menu a {
		line-height: 2.5em;
	}
	nav.top-menu a.home {
		width: 2.5em;
	}

	.list-item h4 {
		font-size: 110%;
	}
	.list-item .tags {
		font: 93%/120% sans-serif;
	}
	.list-item .description p {
		font: 93%/130% sans-serif;
	}
	.list-item .more {
		font: 93%/120% sans-serif;
	}

	.article-page .content {
		padding: 0 0.2em;
	}
}
/* }}} */
