.top_nav_wrap {
    background: #333;
}

.top_menu {
    display: table;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    box-shadow: 2px 0 2px -1px #222, -2px 0 2px -1px #222;
}

.top_menu a,
.top_menu span,
.top_menu a:visited {
    display: table-cell;
    padding: 0.25em;
    color: #DEF !important;
    line-height: 3em;
    text-align: center;
    text-shadow: 0 0.0625em 0.0625em #000;
    text-decoration: none;


    background-image: linear-gradient(#444, #333);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.07), inset -1px 0 0 rgba(0, 0, 0, 0.3);
}

.top_menu a:hover {
    background-image: linear-gradient(#555, #444);
    text-decoration: none;
}

.top_menu a.active {
    background-image: linear-gradient(#202020, #303030);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.5), inset -1px 0 0 rgba(0, 0, 0, 0.2),
    inset 0 0 1em rgba(0, 0, 0, 0.2);
}

.top_menu a.disabled,
.top_menu .disabled {
    color: #777 !important;
    background-image: linear-gradient(#404040, #444);
    text-shadow: initial;
    cursor: default;
}

.top_menu .home {
    width: 3em;
}


@media only screen and (min-width: 40.063em) {
    .top_nav_wrap .container {
        padding: 0 0.625em; /* Like in .page */
    }
}