{% extends 'layout.html' %}
{% from "_fieldrender.html" import render_field %}



{% block css %}
	{{ super() }}
	{% assets filters="datauri,cssmin", output="cache/admin_articles.css", "css/articles.css", "css/form.css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}


{% block js %}
	{{ super() }}
{% endblock %}


{% block title %}Edit article — Blog —{{ " " }}{{ super() }}{% endblock %}

{% block content %}
<section class="raw">
	<div class="medium-12 columns">
		<h1 class="no_padding">Edit article</h1>
		<hr>
	</div>
	<form action="." method="POST">
		{{ form.csrf_token }}

		<div class="medium-6 columns">
			{{ render_field(form.title, class="full", placeholder="Document title") }}
		</div>
		<div class="medium-6 columns">
			{{ render_field(form.slug, class="full", placeholder="Document url name") }}
		</div>

		<div class="medium-12 columns">
			{{ render_field(form.description, class="full", rows=4, placeholder="Simple document description") }}
		</div>

		<div class="medium-12 columns">
			{{ render_field(form.content, class="full", rows=14, placeholder="Markdown document body") }}

			{{ render_field(form.tags, class="full", placeholder="Tags for document") }}
		</div>

		<div class="medium-6 columns">
			{{ render_field(form.pub_date, class="full", placeholder="Date when document posted") }}
		</div>
		<div class="medium-6 columns">
			{{ render_field(form.upd_date, class="full", placeholder="Empty for auto-now") }}
		</div>

		<div class="medium-12 columns buttons">
			<hr class="half-bottom">
			<a href="javascript:window.history.back(-1)">Cancel</a>
			<input class="default" type="submit" name="submit" value="Update article">
		</div>
	</form>
</section>
{% endblock %}

{# vim: set fdm=marker fdc=0 ts=3 sw=3 tw=100 fo-=t ff=unix ft=htmljinja: #}
