{% extends 'layout.html' %}


{% block title %}About —{{ " " }}{{ super() }}{% endblock %}

{% block content %}
<article class="about_page row">
	<div class="medium-5 columns">
		<img class="photo" src="{{ url_for('static', filename="img/photo.jpg") }}" alt="Photo">
	</div>
	<div class="medium-7 columns">
		<span class="person">
			<h2 class="no_bottom">Oleg Gordienko</h2>
			<h4 class="no_padding">Web and *nix Developer</h4>
		</span>

		<!-- <p>Все должно быть правильно, а то что не правильно - должно быть по правильному неправильно! Склонен к чрезмерной оптимизации. Не люблю, когда над душой стоят, подгоняют и отвлекают.</p> -->

		<!-- FIXME: Write good description -->
		<p>In free time I can play on Guitar, "play" with Unity3D, read books or drive bicycle.</p>

		<h3 class="no_bottom">Skills</h3>
		<ul>
			<li><strong>C</strong>: glib, GTK-2.0, WebKit-GTK.</li>
			<li><strong>Python</strong>: Django, Flask, Fabric, virtualenv, Scripts.</li>
			<li><strong>HTML/CSS</strong>: Responsive, Adaptive, Module Grid, Foundation, Bootstrap.</li>
			<li><strong>PHP</strong>: Wordpress, Mod-X, pure.</li>
			<li><strong>Linux</strong>: ubuntu, fedora, archlinux, gentoo.</li>
			<li><strong>Git</strong>: Github, Bitbucket, Local.</li>
		</ul>

		<h3 class="no_bottom">Interests</h3>
		<ul>
			<li>Programming</li>
			<li>Front-end</li>
			<li>Web Design</li>
			<li>Usability</li>
			<li>Game-Dev (Unity3D)</li>
			<li>Music (Guitar)</li>
			<li>Bicycle/Moto</li>
		</ul>
	</div>
</article>
{% endblock %}
