{% extends 'base.html' %}

{% load i18n markup %}


{% block title %}{{ block.super }} | {% trans "About" %}{% endblock %}


{% block content %}
<section class="contact page container">
	<div class="six columns offset-by-five">
		<h1>{% trans "Contact" %}</h1>
	</div>
	<div class="six columns offset-by-five">
		{% if send_status %}
			<div class="contact message {{ send_status.css }}">
				{{ send_status.message }}
			</div>
		{% endif %}
		<form action="" method="POST">
			{% csrf_token %}
			{{ contact_form }}
			<input type="submit" value="{% trans "Send message" %}">
		</form>
	</div>
</section>
{% endblock %}
