{% extends 'layout.html' %}



{% block css %}
	{{ super() }}
	{% assets filters="datauri,cssmin", output="cache/contacts.css", "css/forms.css", "css/buttons.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}


{% block title %} Contacts | {{ super() }}{% endblock %}

{% block content %}
	<div class="sixteen columns">
		<h1 class="no-bottom">Contacts</h1>
		<hr class="no-top half-bottom">
	</div>
	<div class="ten columns">
		{% include "messages.html" %}

		<form action="." method='POST'>
			{{ form.csrf_token }}

			<div class="required half">
					{{ form.name.label }}
					{% if form.name.errors %}
						<ul class="errors">
							{% for error in form.name.errors %}
							<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{{ form.name(required=true,placeholder="You Full Name") }}


					{{ form.email.label }}
					{% if form.email.errors %}
						<ul class="errors">
							{% for error in form.email.errors %}
							<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{{ form.email(required=true,placeholder="Contact E-Mail") }}
			</div>

			<div {% if form.message.flags.required %} class="required"{% endif %}>
					{{ form.message.label }}
					{% if form.message.errors %}
						<ul class="errors">
							{% for error in form.message.errors %}
							<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{{ form.message(rows=8,required=true,placeholder="Message text") }}
			</div>

			<div class="text-right">
				<button class="blue icon-comment" type="submit">Send message</button>
			</div>
		</form>
	</div>
	<div class="six columns">
		<h3>Other methods</h3>
		<div class="other_contacts">
			<a class="gplus" href="https://plus.google.com/108016109141914573964/posts">Gordio</a>
			<a class="mail" href="mailto:admin@gordio.pp.ua">E-Mail: admin@gordio.pp.ua</a>
			<a class="skype" href="skype:gordio">Skype: gordio</a>
			<a class="jabber" href=xmpp:admin@gordio.pp.ua"">Jabber: admin@gordio.pp.ua</a>
			<a class="icq" href="">ICQ: 5700112{#<img src="http://web.icq.com/whitepages/online?icq=5700112&img=22">#}</a>
			<a class="irc" href="irc://irc.freenode/">FreeNode: Gordio{#<img src="http://web.icq.com/whitepages/online?icq=5700112&img=22">#}</a>
			{#<a class="phone" href="">(097) 693-49-76</a>#}
		</div>
	</div>
{% endblock %}
