{% extends 'layout.html' %}


{% block css %}
	{{ super() }}
	{% assets filters="datauri,cssmin", output="cache/vcard.css", "css/vcard.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
{% endblock %}



{% block title %}VCard —{{ " " }}{{ super() }}{% endblock %}

{% block content %}
	<div id="hcard-Oleg-Vasilievich-Gordienko" class="vcard">
			<h1 class="url fn n">
				<span class="family-name">Гордиенко</span>
				<span class="given-name">Олег</span>
				<span class="additional-name">Васильевич</span>
			</h1>
		<div class="category">Web and *nix Developer</div>
		<div class="profiles">
			<a class="profile googleplus url" rel="me" href="http://plus.google.com/108016109141914573964/posts" title="Google Plus Profile">
				<img src="{{ url_for('static', filename="img/profile/google-plus.svg") }}" alt="Google Plus">
			</a>
			<a class="profile linkedin url" rel="me" href="http://ua.linkedin.com/in/gordio/" title="LinkedIn Profile">
				<img src="{{ url_for('static', filename="img/profile/linkedin.svg") }}" alt="LinkedIn">
			</a>
			<a class="profile github url" rel="me" href="http://github.com/gordio/" title="Github Profile">
				<img src="{{ url_for('static', filename="img/profile/github.svg") }}" alt="Github">
			</a>
			<a class="profile bitbucket url" rel="me" href="http://bitbucket.org/gordio/" title="Bitbucket Profile">
				<img src="{{ url_for('static', filename="img/profile/bitbucket.svg") }}" alt="Bitbucket">
			</a>
			<a class="profile foursquare url last" rel="me" href="http://foursquare.com/user/58103563" title="Foursquare Profile">
				<img src="{{ url_for('static', filename="img/profile/foursquare.svg") }}" alt="Foursquare">
			</a>
		</div>
		<div class="footer">
			<div class="left">
				<div class="line">
					<a class="tel icon-phone" href="tel:0976934976">(097) 693-49-76</a>
				</div>
				<div class="line">
					<a class="email icon-envelope-alt" href="mailto:me@gordio.pp.ua">me@gordio.pp.ua</a>
				</div>
			</div>
			<div style="float: right;">
				<div class="line">
					<a class="url icon-map-marker" href="http://www.gordio.pp.ua/">Ukraine/Krivoy Rog</a>
				</div>
				<div class="line">
					<a class="url icon-globe" href="http://www.gordio.pp.ua/">www.gordio.pp.ua</a>
				</div>
			</div>
		</div>
	</div>
	<img class="qrcode" src="{{ url_for('static', filename="img/code.png") }}" alt="QR Code">
{% endblock %}
