{% extends 'layout.html' %}


{% block css %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/vcard.css") }}" media="all">
{% endblock %}


{% block title %}VCard —{{ " " }}{{ super() }}{% endblock %}

{% block content %}
	<div id="hcard-Oleg-Vasilievich-Gordienko" class="vcard">
		<a class="url fn n" rel="me" href="http://www.gordio.pp.ua/">
			<h1>
				<span class="family-name">Гордиенко</span>
				<span class="given-name">Олег</span>
				<span class="additional-name">Васильевич</span>
			</h1>
		</a>
		<div class="category">Web and Linux Developer</div>
		<div class="profiles">
			<a class="profile googleplus url" rel="me" href="http://plus.google.com/108016109141914573964/posts">
				<img src="{{ url_for('static', filename="img/profile/google-plus.svg") }}">
			</a>
			<a class="profile twitter url" rel="me" href="http://twitter.com/gordioua/">
				<img src="{{ url_for('static', filename="img/profile/twitter.svg") }}">
			</a>
			<a class="profile foursquare url" rel="me" href="http://foursquare.com/user/58103563">
				<img src="{{ url_for('static', filename="img/profile/foursquare.svg") }}">
			</a>
			<a class="profile grooveshark url" rel="me" href="http://grooveshark.com/gordio/">
				<img src="{{ url_for('static', filename="img/profile/grooveshark.svg") }}">
			</a>
			<a class="profile github url" rel="me" href="http://github.com/gordio/">
				<img src="{{ url_for('static', filename="img/profile/github.svg") }}">
			</a>
			<a class="profile bitbucket url last" rel="me" href="http://bitbucket.org/gordio/">
				<img src="{{ url_for('static', filename="img/profile/bitbucket.svg") }}">
			</a>
		</div>
		<div class="footer">
			<div class="line">
				<a class="email icon-envelope-alt" href="mailto:admin@gordio.pp.ua">admin@gordio.pp.ua</a>
			</div>
			<div class="line">
				<span class="tel icon-phone">(097) 693-49-76</span>
			</div>
			<img class="qrcode" src="{{ url_for('static', filename="img/code.png") }}" alt="QR Code">
		</div>
	</div>
{% endblock %}
