{% extends 'layout.html' %}


{% block title %}About —{{ " " }}{{ super() }}{% endblock %}

{% block content %}
<article class="home">
	<div class="photo six columns">
		<img src="{{ url_for('static', filename="img/photo.jpg") }}" alt="Photo">
	</div>
	<div class="ten columns">
		<span class="person">
			<h2 class="no-bottom">Гордиенко Олег</h2>
			<p>Разрабочик</p>
		</span>
		{#<p>Основные интересы — техника, электроника, программирование и WEB разработка.</p>#}
		{#<p>Все должно быть правильно, а то что не правильно - должно быть по правильному неправильно :-)! Склонен к оптимизации. Не люблю, когда над душой стоят, подгоняют и отвлекают.</p>#}
		{#<p>Домашний дистрибутив <a href="http://www.gentoo.org/">Gentoo</a> с <a href="http://www.openbox.org/">OpenBox</a>. А в качестве редактора <a href="http://www.vim.org/">VIM</a>, настройки которого Вы можете <a href="http://code.gordio.pp.ua/vimrc">посмотреть</a>.</p>#}
		{#<p>В свободное время могу попрактиковаться в игре на гитаре. Или выехать на MTB покатать под Blues, Rock&Roll, Metal, Industrial.</p>#}
		{#<p>Остальные данные можете узнать из моих профилей.</p>#}

		<h4 class="icon-star-empty">Интересы</h4>
		<ul>
			<li>Администрирование (Linux)</li>
			<li>Программирование (Shell, C, Python, PHP, Perl, Go, Lua)</li>
			<li>Верстка (HTML4.1, HTML5, CSS2.1, CSS3)</li>
			<li>Электроника (Встраиваемые системы)</li>
			<li>Юзабилити</li>
			<li>Музыка</li>
			<li>Велосипед</li>
		</ul>

		<h4 class="icon-heart-empty">Нравится</h4>
		<ul>
			<li>Open Source</li>
			<li>Linux</li>
			<li>Gentoo</li>
			<li>VIM</li>
			<li>Git</li>
			<li>Tmux</li>
			<li>CLI</li>
		</ul>
	</div>
</article>
{% endblock %}
