<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Gordienko Oleg{% endblock %}</title>
	<link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename="favicon.png") }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %}
	{% endblock %}

	{% block css %}
	{% assets filters="cssmin", output="cache/base.css",
		"css/base.css", "css/skeleton.css", "css/layout.css", "css/font-icons.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	{% endblock %}

	{% block js %}
	{% endblock %}
</head>
<body>
	{% include "nav.html" %}

	{% block content %}
	{% endblock %}

{#	<script type="text/javascript">
		// TODO: Implement
		el = document.getElementById('test_id')
		Hammer(el, {
			swipe_velocity: 0.2
		}).on("swipeleft", function() {
			/*alert('you swiped left!');*/
		}).on("swiperight", function() {
			/*alert("Swipe right");*/
		})
	</script> #}

	{#-- Yandex.Metrika counter -#}
	{% if not DEBUG %}
	<div style="display:none;">
		<script type="text/javascript">
			(function(w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter11936827 = new Ya.Metrika({id:11936827, enableAll: true, webvisor:true});
					}
					catch(e) { }
				});
			})(window, "yandex_metrika_callbacks");
		</script>
	</div>
	<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
	<noscript><div><img src="//mc.yandex.ru/watch/11936827" style="position:absolute; left:-9999px;" alt=""></div></noscript>
	{% endif %}
	{#-- /Yandex.Metrika counter -#}
</body>
</html>