<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Gordienko Oleg{% endblock %}</title>
	{% block meta %}
	{% endblock %}
	<link rel="copyright" href="http://creativecommons.org/licenses/by-sa/3.0/">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename="favicon.png") }}">
	{#<link title="Subscribe blog posts" type="application/rss+xml" rel="alternate" href="http://feeds.feedburner.com/gordio">#}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	{% block css %}
	{% assets filters="cssmin", output="cache/base.css",
		"css/base.css", "css/skeleton.css", "css/layout.css", "css/messages.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	{% assets filters="datauri,cssmin", output="cache/font-awesome.css", "css/font-awesome.css" %}
		<link rel="stylesheet" href="{{ ASSET_URL }}">
	{% endassets %}
	{% endblock %}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	{% block js %}
	{% endblock %}

	{# Need put after all js connection #}
	<script async src="{{ url_for('static', filename="js/loader.js") }}"></script>

</head>
<body>

	{% include "nav.html" %}

	{% block content %}
	{% endblock %}

	{#-- Yandex.Metrika counter -#}
	{% if DEBUG %}
	<div style="display:none;">
		<script type="text/javascript">
			(function(w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter11936827 = new Ya.Metrika({id:11936827, enableAll: true, webvisor:true});
					}
					catch(e) { }
				});
			})(window, "yandex_metrika_callbacks");
		</script>
	</div>
	<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
	<noscript>
		<div>
			<img src="//mc.yandex.ru/watch/11936827" style="position:absolute; left:-9999px;" alt="">
		</div>
	</noscript>
	{% endif %}
	{#-- /Yandex.Metrika counter -#}

</body>
</html>
{# vim: set ft=htmljinja fdm=marker ts=4 sw=4 tw=100 fo-=t ff=unix: #}
