<nav>
	<ul class="container">
		<li {% if request.endpoint == "index" %}class="active"{% endif %}>
			<a class="about" href="{{ url_for('index') }}">About</a>
		</li>
		<li {% if "article" in request.endpoint %}class="active"{% endif %}>
			<a class="articles" href="{{ url_for('articles') }}">Blog</a>
		</li>
		<li>
			<a class="projects" href="http://code.gordio.pp.ua/">Projects</a>
		</li>
		<li {% if request.endpoint == "contacts" %}class="active"{% endif %}>
			<a class="contacts" href="{{ url_for('contacts') }}">Contacts</a>
		</li>
	</ul>
</nav>
{# vim: set fdm=marker ts=3 sw=3 tw=100 fo-=t ff=unix ft=htmljinja: #}
