<div class="top-nav-wrap">
	<div class="container">
		<nav class="top-menu">
			<a {% if request.endpoint == "about" %}class="active"{% endif %} href="{{ url_for('about') }}">About</a>
			<a {% if request.endpoint == "articles" %}class="active"{% endif %} href="{{ url_for('articles') }}">Blog</a>
			<a class="home {% if request.endpoint == "index" %}{{ " " }}active{% endif %}" href="/" data-icon="&#x2a;"></a>
			<a {% if request.endpoint == "code" %}class="active"{% endif %} href="http://code.gordio.pp.ua/">Work</a>
			<a {% if request.endpoint == "contacts" %}class="active"{% endif %} href="{{ url_for('contacts') }}">Contact</a>
		</nav>
	</div>
</div>


{# vim: set fdm=marker ts=3 sw=3 tw=100 fo-=t ff=unix ft=htmljinja: #}
