<nav class="horiz-menu">
	<ul class="container">
		<li class="about{% if request.endpoint == "about" %}{{ " " }}active{% endif %}">
			<a href="{{ url_for('about') }}">About</a>
		</li>
		<li class="articles{% if "article" in request.endpoint %}{{ " " }}active{% endif %}">
			<a href="{{ url_for('articles') }}">Blog</a>
		</li>
		<li class="projects">
			<a href="http://code.gordio.pp.ua/">Works</a>
		</li>
		<li class="contacts{% if request.endpoint == "contacts" %}{{ " " }}active{% endif %}">
			<a href="{{ url_for('contacts') }}">Contact</a>
		</li>
	</ul>
</nav>
{# vim: set fdm=marker ts=3 sw=3 tw=100 fo-=t ff=unix ft=htmljinja: #}
