<div class="top_nav_wrap">
    <div class="container">
        <nav class="top_menu">
            <a {% if request.endpoint == "about" %}class="active"{% endif %} href="{{ url_for('about') }}">About</a>
            <a {% if request.endpoint.count("articles") != 0 %}class="active"{% endif %} href="{{ url_for('articles_list') }}">Articles</a>
            <a class="home icon-home {% if request.endpoint == "vcard" %}{{ " " }}active{% endif %}" href="{{ url_for('vcard') }}"></a>
            <a {% if request.endpoint.count("works") != 0 %}class="active"{% endif %} href="{{ url_for('works_list') }}">Works</a>
            <a {% if request.endpoint == "contacts" %}class="active"{% endif %} href="{{ url_for('contacts') }}">Contact</a>
        </nav>
    </div>
</div>