{% extends 'layout.html' %}
{% from "_fieldrender.html" import render_field %}



{% block css %}
	{{ super() }}
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/forms.css") }}" media="all">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename="css/buttons.css") }}" media="all">
{% endblock %}


{% block js %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename="js/admin.js") }}"></script>
{% endblock %}


{% block title %}Add article —{{ " " }}Blog —{{ " " }}{{ super() }}{% endblock %}

{% block content %}
	<div class="sixteen columns">
		<h1 class="no-bottom">Add article</h1>
		<hr class="no-top half-bottom">

		{% include "messages.html" %}

	</div>
	<form action="." method="POST">
		{{ form.csrf_token }}

		<div class="eight columns">
			{{ render_field(form.title, class="full", placeholder="Document title") }}
		</div>
		<div class="eight columns">
			{{ render_field(form.slug, class="full", placeholder="Document url name") }}
		</div>

		<div class="sixteen columns">
			{{ render_field(form.content, class="full", rows=14, placeholder="Markdown document body", max=50) }}

			{{ render_field(form.tags, class="full", placeholder="Tags for document") }}
		</div>

		<div class="eight columns">
			{{ render_field(form.pub_date, class="full", placeholder="Date when document posted") }}
		</div>
		<div class="eight columns">
			{#{{ render_field(form.upd_date, class="full", placeholder="Date where document update", readonly=true) }}#}
		</div>

		<div class="sixteen columns">
			<div class="text-right buttons">
				<hr class="half-bottom">
				<input type="button" name="" onclick="history.back(1);return true;" value="Cancel">
				<div class="split"></div>
				<input class="green" type="submit" name="submit" value="Add article">
			</div>
		</div>
	</form>
	<script type="text/javascript">
		init_title();
	</script>
{% endblock %}

{# vim: set fdm=marker fdc=0 ts=3 sw=3 tw=100 fo-=t ff=unix ft=htmljinja: #}
